<!-- Footer Start -->
<div class="footer">
  <hr>
  <div class="container-fluid">
    <div class="row">


      <div class="col-lg-3 col-md-4">
        <div class="footer-widget">
          <h2 class="ml20 clw">Follow Us</h2>
          <div class="contact-info">
            <div class="social">
              <a href=""><img src="../../assets/images/fb.png" alt="fb-page"></a>
              <a href=""><img src="../../assets/images/twitter.png" alt="twitter-page" srcset=""></a>
              <a href=""><img src="../../assets/images/instagram.png" alt="instagram-page" srcset=""></a>
              <a href=""><img src="../../assets/images/linkedin.png" alt="" srcset=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Contact US</h2>
          <div class="contact-info">
            <p><i class="fa fa-map-marker"></i>Delhi, India</p>
            <p><i class="fa fa-envelope"></i>shopforhome@gmail.com</p>
            <p><i class="fa fa-phone"></i>+91 9191919191</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Company Info</h2>
          <ul>
            <li><a href="#">About Us</a></li>

            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Policies</h2>
          <ul>
            <li><a href="#">Payment Policy</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Shipping Policy</a></li>
            <li><a href="#">Return Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="copyright text-center">
        <hr style="color: #ffff;">
        <p>
          Copyright &copy;
          <a style="text-decoration: none; color: #74A6FF"
            href="https://htmlcodex.com">ShopForHome</a>. All Rights Reserved
        </p>
      </div>
      <!-- Back to Top -->

    </div>
  </div>
</div>
<!-- Footer Bottom End -->