.product-item {
  position: relative;
  margin: 20px;
  background-color: #e0e0e0;
}

.product-item .product-title {
  padding: 15px;
  text-align: center;
  transition: all 0.3s;
}

.product-item:hover .product-title {
  background: #212529;
}

.product-item .product-title a,
.product-item .product-title{
  position: relative;
  width: 100%;
}

.product-item .product-title a {
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 18px;
}


.product-item .product-content .price span {
  margin-left: 12px;
  text-decoration: line-through;
  font-weight: 700;
  color: #999999;
}

.product-item:hover .product-title a,
.product-item:hover .product-title{
  color: #ffffff;
}

.product-item:hover .product-content .price span {
  color: #dddddd;
}

.product-item .product-image {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 330px;
}

.product-item .product-image a {
  display: block;
  background: #ffffff;
  transition: 0.3s;
}

.product-item .product-image img {
  width: 100%;
  transition: all 0.3s;
  height: 300px;
}

.product-item:hover .product-image img {
  transform: scale(1.2);
}

.product-item .product-image .product-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(132, 141, 145, 0.5); */
  transition: all 0.3s;
  font-size: 0;
  z-index: 1;
  opacity: 0;
}

.product-item:hover .product-image .product-action {
  opacity: 1;
}
.title{
  color: #000000;
  font-weight: 700;
  font-size: 20px;
}
.title:hover{
  color:white;
}
.product-item .product-image .product-action a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 7px 0 10px 0;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background: #7f8591;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all 0.3s;
  margin-top: 50px;
}

.product-item:hover .product-image .product-action a {
  margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
  margin-right: 0;
}

.product-item .product-image .product-action a:hover {
  color: black;
  background: #ffffff;
  border: 1px solid #6789ca;
}

.product-item .product-price {
  padding: 20px;
  background: #e0e0e0;
  transition: all 0.3s;
}

.product-item:hover .product-price {
  background: #212529;
}
.product-item:hover .product-price h3{
  color: #ffffff;
}

.product-item .product-price h3 {
  display: inline-block;
  color: #000000;
  margin: 0;
}

.product-item .product-price h3 span {
  font-size: 16px;
}

.product-item .product-price .btn {
  float: right;
  border: none;
  color: black;
  background: #9aa0a6;
}

.product-item:hover .product-price .btn,
.product-item .product-price .btn:hover {
  color: black;
  background: #ffffff;
}

.product-item .product-price .btn i {
  margin-right: 5px;
}

.search {
  width: 40%;
}

.search input[type="text"] {
  /* width: 20%; */
  height: 30px;
  padding: 0 30px;
  color: #212529;
  border: 1px solid #212529;
  border-radius: 15px;
}

.search input:hover{
  border-color: #212529;
}

.search button {
  position: relative;
  width: 40px;
  /* height: px; */
  top: 1px;
  border: none;
  background: none;
  color: #212529;
  /* border-radius: 10px; */
}

.search button:hover {
  background: #212529;
  border-radius: 10px;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .search {
    text-align: center;
    margin-bottom: 15px;
  }
}

.btn1{
  border-radius: 15px;
}
.btn1:hover{
  background-color: #212529;
}

.ml{
  margin-left: 20px;
}
